<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="frame.zzt.com.appframe">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 这个权限允许程序连接到已配对的蓝牙设备, 请求连接/接收连接/传输数据需要改权限, 主要用于对配对后进行操作; -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!-- 这个权限允许程序发现和配对蓝牙设备, 该权限用来管理蓝牙设备, 有了这个权限, 应用才能使用本机的蓝牙设备, 主要用于对配对前的操作; -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- Android 6.0以后，这两个权限是必须的，蓝牙扫描周围的设备需要获取模糊的位置信息。这两个权限属于同一组危险权限，在清单文件中声明之后，还需要再运行时动态获取。 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 当android:required为true的时候，app只能强制运行在支持BLE功能的设备商，为false的时候，可以运行在所有设备上， -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>
    <uses-feature android:name="android.hardware.location.gps"/>

    <!-- 读写文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!--添加默认震动效果,需要申请震动权限-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.login.LoginActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".UI.login.LoginActivity3"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".UI.home.HomeActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".UI.Activity.ActivityFirst"/>
        <activity android:name=".Bluetooth.ActivityBluetooth"/>
        <activity android:name=".Bluetooth.ActivityBluetooth2"/>
        <activity android:name=".Bluetooth.ActivityBluetooth3"/>
        <activity android:name=".Bluetooth.ActivityBluetooth4"/>
        <activity android:name=".Bluetooth.ActivityBluetooth5"/>
        <activity android:name=".Bluetooth.ActivityBluetooth6"/>
        <activity android:name=".Bluetooth.ActivityBluetooth7"/>
        <activity android:name=".Notification.ActivityNotification"/>
        <activity android:name=".UI.Activity.ActivitySurfaceView"/>
        <activity android:name=".touchAnim.ActivityTouchAnim"/>
        <activity android:name=".ReadCode.ActivityReadCodeClass"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Notification.ActivityIntentShow"
            android:parentActivityName=".UI.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.home.HomeActivity"/>
        </activity>
        <activity android:name=".Notification.ActivityIntentShow2" />
        <activity android:name=".doodleview.DoodleViewActivity"/>
        <activity android:name=".rxjava.ActivityRxJava"/>
        <activity android:name=".rxjava.ActivityRxJavaUse"/>
        <activity android:name=".UI.Activity.ActivityProgress2"/>
        <activity android:name=".observable.ActivityObservable"/>
        <activity android:name="frame.zzt.com.appframe.kotlin.ActivityKotlin"/>
        <activity android:name=".eventbus.ActivityEventBus"/>
        <activity android:name=".eventbus.ActivityEventBusOpt"/>
        <activity android:name=".slidelock.ActivitySlideLock"/>
        <activity android:name=".WebView.AcvitityWebview"/>
        <activity android:name=".UI.Activity.ActivitySystemUi"/>
        <activity android:name=".anim.AnimActivity"/>
        <activity android:name=".anim.AnimShowActivity"/>
        <activity android:name=".slidelock.ActivityHorizontalSlideLock"/>
        <activity android:name=".seekbar.ActivitySeekBar"/>


        <receiver android:name=".Notification.ReceiverNotification"/>

        <service android:name=".Bluetooth.BleService"/>
        <service android:name=".Bluetooth.BleService19"/>
        <service android:name="com.inuker.bluetooth.library.BluetoothService"/>
        <service android:name=".Notification.ServiceNotification"/>


        <!--  和蓝牙设备连接进行电话交互  -->
        <service
            android:name=".Notification.NotificationReceiver18"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <!--  和蓝牙设备连接进行电话交互  -->
    </application>

</manifest>